.Archiving {
  background-color: black;
  font-family: var(--ko-article);
}
.content {
  width: 100%;
  max-width: 71.25rem;
  padding: 4rem 2rem;
  margin: 0 auto;
}
.container {
  margin: 0;
  line-height: normal;
}
/* Element */
.element {
  display: flex;
  flex-direction: column;
  width: 26rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--background-color);
  cursor: pointer;
}
.elementImg {
  width: 100%;
}
